        .ups{
            background-image: url(depositphotos_33015661-stock-photo-abstract-black-background.jpg);
            height: 600px;
        }
        body {
            padding: 0px;
            margin: 0px;
        }
        
        .logo{
            margin-left: 100px;
            text-decoration: none;
            font-size: 25px;
            color:#A77110;
            font-weight: 600;
            padding-bottom: 200px;
            margin-top: 20px;
        }
        .navbar a{   
            float: right;
            color: white;
            background-color:rgba(23, 33, 84, 0.418) ;
            margin-right: 77px;
            text-align: left;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 4px;
            padding-top: 4px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 500; 
            border-radius: 8px;
            border: 1px #A77110 solid;
        }
        .navbar a:hover{
            transition:2s linear ;
            color:black;
            background-color:#A77110;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 8px;        
        }
        .hero img {
            width: 30%;
            height: 40%;     
            margin-left:700px;
            border-radius: 5px;
            position: relative;
            bottom: 130px;
            
            transition: 2s ease-in-out;
        }
        .hero img:hover{
            transform:translate(50px);
        }
        #aboutme h2{
            color:black;
            font-size: 24px;
            justify-content: center;
            display: flex;
            text-align: center;
            position: relative;
            width: 100%;
            bottom: 50px;
            font-weight: bold;
        }
        #middle{
            margin: 0;
            padding: 0;
            height: 600px;
            padding-top:70px;
            background-color:#81776C;
        }
        .box {
            background-color: rgba(23, 33, 84, 0.418);
            width: 300px;
            height: 310px;
            border: 1px #A77110 solid;
            margin-right: 40px;
            border-radius: 8px;
            padding: 30px;
            float: right;
            box-shadow:-10px 10px 0px #2C2C2C;
            color: black;
            transition: 2s ease-in-out;
        }
        .box:hover{
            color: white;
            margin-top: 10px;
            background-color: black;
        }

        .udo p{
            font-size: 24px;
            color: black;
            font-family:'Lilita One';
            font-weight: 500;
            padding-left: 50px;
            margin-top: 100px;
            margin-left: 150px;
        }
        .udo h4{
            color: black;
            font-family:'Lilita One';
            font-weight: 500;
            margin-left: 200px;
        }
        .udo h5:hover{
            color: white;
            background-color: #A77110;
            padding-left: 15px;
            padding-right: 15px;
            transition: 2s linear;
            border-radius: 8px;
        }
        .udo h5{
            margin-left: 250px;
            color: white;
            background:rgba(23, 33, 84, 0.418) ;
            width: 80px;
            font-size: 100%;
            padding-left: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            border-radius: 4px;
            border: 1px #A77110 solid;
        }
        #last{
            background-color: #47433F;
            height: 500px;
            width: 100%;
            margin:0;
            padding: 0;
            padding-top: 50px;
        }
        .bbc-project{
          width:300px ;
          height: 300px;    
          background: white;
          border-radius: 10px;
          background-image: url(BBC_News_2019.svg.png);
          margin-right: 130px;
          background-size: cover;
          background-position: center;
          float: right;
       }
        #project h2{
            color:white;
            font-size: 20px;
            text-align: center;
            margin-left: 100px;
            position: relative;
            width: 150px;
            top: 150px;
            border-radius: 24px;
            border: 1px #A77110 solid ;
            background-color:rgba(23, 33, 84, 0.418) ;
            padding: 12px 6px 12px 6px;
        }
        #project i{
            color: #A77110;
        }
        #project i:hover{
            color: black;
        }
        #project h2:hover{
            background-color:#A77110 ;
            color: black;
            padding-left: 25px;
            transition: 2s ease-in;
        }
        .worldcup-project{
           width: 300px;
           height: 300px;
           background: white;
           border-radius: 10px;
           background-image: url(Qatar-2022.jpg);
           background-size: cover;
           background-position: center;
           float: right;
           margin-right: 100px;
        }
        .text{
            height: 20px;
            width: 260px;
            bottom: 0;
            left: 0;
            background-color:white;
            padding: 20px;
            transition:  0.25;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            top: 240px;
            color: black;
        }
        .text:hover{
            height: 120px;
            transition: 0.35;
            
        }
        .content{
            color: black;
            font-weight: 200;
        }
        .button{
            border: 1px solid #A77110;
            border-radius: 20px;
            width: 150px;
            height: 150px;
            padding: 4px 8px 4px 8px;
            margin-bottom: 10px;
            margin-right: 70px;
            background-color: #151743;
            color: white;
            text-decoration: none;
        }
        .button:hover{
            color: black;
            background-color: #A77110;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 60px;
            transition: 2s ease-in-out;
            font-weight: 50px;
        }

        .contact h2{
            color:white;
            background-color:rgba(23, 33, 84, 0.418);
            border: 1px #A77110 solid;
            padding: 12px 6px 12px 6px ;
            width: 150px;
            border-radius: 24px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;  
            margin-left: 100px;
        }
        .contact h2:hover{
            background-color:#A77110 ;
            color: black;
            transform: translate(20px);
            padding-right: 10px;
            padding-left: 10px;
            transition: 2s ease-in;
        }
        .dun{
            margin-bottom: 30px;
            text-align: center;
            font-weight: bold;
            color: white;
            font-size: 16px;
            background-color:rgba(23, 33, 84, 0.418); 
            margin-left: 450px;
            width: 450px;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color:  rgba(23, 33, 84, 0.418);
            border-radius: 24px;
            border: 1px #A77110 solid;
        
        
        }
        .contact-form{
            height: 10px;
            width: 100px;
            margin-left: 30px;
            font-weight: bold;
            padding-bottom: 50px;
            color: white;
            text-align: left;
            display: flex;
        }
        .contact-form label{
            display:block ;
            padding: 15px 20px;
        }
        .message-details{
            margin-left: 530px;
            font-weight: bold;
            color: white; 
            flex-direction: column;  
        }
        .message p{
            float: right;
            position: relative;
            top: 270px;
            font-weight: 600;
            color: white;
            left: 70px;
        }
        .social-icon{
            float: right;
            position: relative;
            top: 250px;
            right: 50px;
            font-size:30px;
            color: #5a5a5a;
        }
        .social-icon1{
            float: right;
            position: relative;
            top: 250px;
            right: 80px;
            font-size:30px;
            color: #5a5a5a;
        }
        .social-icon2{
            float: right;
            position: relative;
            top: 250px;
            right: 110px;
            font-size:30px;
            color:#5a5a5a;
        }
        .message button{
            display: flex;
            border-radius: 24px;
            color: white;
            width:140px ;
            height: 40px ;
            background-color: rgba(23, 33, 84, 0.418);
            margin-left: 80px;
            cursor: pointer;   
            margin-top: 10px;
            justify-content: center;
            border: 1px #A77110 solid;
            font-size: 20px;
        }
        .message input{
            border-radius: 5px;
            border: 0px;
            width: 350px;
            height: 200px;
            margin-right: 100px;
        }
        .message label{
            display: block;
        }
        .message button:hover{
            background:#A77110;
            color: black;
            padding-top: 6px;
            transition: 2s ;
            transform: translate(-20);
        }
        .contact-details{
             flex: 1;
             margin-left: 120px;
             margin-top: 70px;
        }
        .contact-details input{
            height: 30px;
            width: 300px;
            border-radius: 5px;
            border: 0px;
            padding: 5px;
            margin-bottom:  20px;
        }
        .end{
            background-color: #302F2B;
            padding-top: 10px;
            max-height: 500px;
            padding-bottom: 12px;
        }